<head>
    <meta charset="utf-8">
    <title>Xpress+ taxi and limo services from Secaucus, Rutherford, Newark, Manhattan, Bronx</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="secaucus taxi, manhatan taxi, rutherford taxi, lyndhurst taxi, north bergen taxi, jersey city taxi, union city taxi, carlstand taxi, burley taxi, newark taxi, jersey gardens taxi, nj taxi"/>
    <meta name="description" content="Xpress pluss,  taxi and limo company  offers luxury  transportation service to all  Airports Atlantic city Casinos Jersey Gardens  and more from Secaucus, Rutherford, Manhattan, Lyndhurst, North Bergen, Jersey city, Union city, Carlstand, Burley, Newark, Jersey gardens, Nj">
    <meta name="author" content="Alexandros Alexandrakis">
    <meta name="robots" content="INDEX,FOLLOW"/>
    <meta name="robots" content="noimageindex"/>
    <meta name="fragment" content="!">
    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="icon" sizes="16x16 32x32" href="/images/favicon.ico?v=2">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    [endif]-->

</head>