<template name="homepage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Xpress+ taxi and limo services
                </h1>
            </div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Fast reliable and safe transportation</h4>
                    </div>
                    <div class="panel-body" style="background-color: #222">
                        <p>Travel from your home or office to the airport and arrive rested and without the worry and expense of airport parking or car rentals.</p>
                        <p>Xpress+ taxi and limo company  offers luxury  transportation service to all  Airports Atlantic city Casinos Jersey Gardens  and more.</p>
                        <p>Vale rates Newark airport  starting from 30$</p>
                        <p>From Manhattan to JFK available flat rates</p>
                    </div>
                </div>
            </div>
        </div>
        {{> footer }}
    </div>
</template>