<template name="viewReservations">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Reservations</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <label>Filter Reservations List</label>
                        <div class="<row>">
                            <label class="radio-inline">
                                <input type="radio" name="reservationStatus" id="unconfirmed" value="unconfirmed" checked="">Unonfirmed
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="reservationStatus" id="confirmed" value="confirmed">Confirmed
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="reservationStatus" id="closed" value="closed">Closed
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="reservationStatus" id="canceled" value="canceled">Canceled
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body ">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Date/Time</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                                <tbody >
                                    {{#each Reservations}}
                                        <tr class="gradeA">
                                            <td>{{dateTime}}</td>
                                            <td>{{phone}}</td>
                                            <td>{{email}}</td>
                                            <td>{{from}}</td>
                                            <td>{{to}}</td>
                                            <td class="center">
                                                {{#unless canceled}}
                                                    <a class="btn btn-success" id="buttonAction">{{actionValue}}</a>
                                                    <a class="btn btn-danger" id="cancel">Cancel</a>
                                                {{else}}
                                                    <a class="btn btn-success disabled">No actions</a>
                                                {{/unless}}
                                            </td>
                                            <!--<td class="center">4</td>-->
                                            <!--<td class="center">X</td>-->
                                        </tr>
                                    {{/each}}
                                </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</template>